@use './vars' as v;

@mixin wrapper($wid) {
  display: flex;
  width: $wid;
  margin: 0 auto;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin focus-ring {
  border-color: rgb(165 180 252);
  outline: 2px solid v.$active-input;;
}